# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_uF0ljPSHx2qU@ep-morning-hall-ah5bg4dw-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DATABASE_ECHO=true

# Authentication Configuration
JWT_SECRET_KEY=fe6c3680173be334284513412bc0c96bb555128d57c93b6a60de3d64a5dc055c
JWT_ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Application Configuration
DEBUG=true
PROJECT_NAME="Todo Web Application"
API_V1_STR="/api/v1"

# CORS Configuration
# Comma-separated list of allowed origins
ALLOWED_ORIGINS="http://localhost:3000,http://127.0.0.1:3000"